@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<address>
    Mark Mikus<br />
    Budapest, Hungary<br />
    Email: <abbr title="Email">kyussfia@gmail.com</abbr> <br/>
    Neptun-code: CM6TSV <br/>
</address>

<address>
    <strong>Support:</strong> <a href="mailto:kyussfia@gmail.com">Kyussfia@gmail.com</a><br />
</address>
