@using ELTE.TravelAgency.Models;

@model RentViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="contentHead">A foglalását sikeresen rögzítettük!</div>

<div class="content">A foglalás teljes összege: <strong>@Model.TotalPrice</strong> EUR.</div>