* {margin:0; padding:0;}
body{background-color: black;}


div#blokk{
		background-color: white;
		color: black;
		width: 950px;
		margin: auto; /*középre igazités a blokknak*/
		
		}
div#fejlec {
		background-image: url('kepek/img01.jpg');
		 background-repeat:no-repeat;
		height:250px;		
		position:relative;
		}
img#logo {
		position:absolute;
		left:10px;
		top:30px;
		}
div#menu {
		background-image:url('kepek/img02.jpg');
		background-repeat:no-repeat;
		position:absolute;
		bottom:-30px;
		height:51px;
		width:100%;
		color:white;
		font-weight:bold;
		vertical-align:bold;
		padding-top:20px;
		padding-left:20px;
		}
div#menu a:link, div#menu a:visited 
			{color:white;
				text-decoration:none;
				
			}		 /*ne legyne aláhuzva*/
div#tartalom 
		{
		position:relative;
		padding-top:50px;
		}