@using ELTE.TravelAgency.Models

@model ShoreType

@* megadjuk, hogyan jelenjen meg a tengerpart típus *@

@{
    Func<ShoreType, String> shoreType = shoreTypeId =>
    {
        switch (shoreTypeId)
        {
            case ShoreType.Sandy: return "homokos";
            case ShoreType.Gravelly: return "kavicsos";
            case ShoreType.Rocky: return "sziklás";
            default: return "?";
        };
    };
}

<span>@shoreType(Model)</span>