@using Microsoft.AspNetCore.Http;
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@if (Context.Session.GetString("user") == null)
{
    <div class="my-2 my-lg-0 form-inline">
        <div class="dropdown sign">
            <div class="dropdown-content">
                <a class="btn btn-success" asp-controller="Home" asp-action="Login">User</a>
            </div>
        </div>
    </div>
}
else
{
    <form class="my-2 my-lg-0 form-inline" method="post">
        <div class="dropdown user">
            @if (Context.Session.GetString("user") != null)
            {
                <div class="dropbtn btn btn-success">
                    @Context.Session.GetString("user")
                    <p>(as Customer)</p>
                </div>
            }
            <div class="dropdown-content">
                <input type="submit" class="btn btn-success" asp-controller="Account" asp-action="Logout" value="Logout" />
            </div>
        </div>
    </form>
}